{% extends "backend_index/index.html" %}

{% block title %}Product{% endblock %}


{% block content %}
<style>
    .rounded-image {
        width: 50px; 
        height: 50px; 
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ddd;
        margin-right: 10px;
        vertical-align: middle;
    }
    td a i {
        margin-right: 10px;  /* Space between icons */
        font-size: 20px;     /* Size of the icons */
        transition: color 0.3s ease; /* Smooth transition for color change */
        cursor: pointer;    /* Change cursor to pointer to indicate it's clickable */
    }

    /* Hover effect for the icons */
    td a i:hover {
        color: #007bff; /* Change color to blue when hovered */
    }

    /* Optional: Add color-specific styles for each action */
    .micon.dw-eye:hover {
        color: #28a745; /* Green for View icon on hover */
    }

    .micon.dw-edit:hover {
        color: #17a2b8; /* Blue for Edit icon on hover */
    }

    .micon.dw-trash:hover {
        color: #dc3545; /* Red for Delete icon on hover */
    }   
    
</style>
<div class="order-user-info mb-30">
    <h5 class="text-blue">Order Details</h5><br>
    <p><strong>User:</strong> {{ order_obj.user.username }}</p>
    <p><strong>Email:</strong> {{ order_obj.user.email }}</p>
    <p><strong>Shipping Address:</strong> {{ order_obj.address }}</p>
</div>
<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Order Products</h4>
        </div>
        <div class="pull-right">
            {% comment %} <a href="{% url "create_product" %}" class="btn btn-primary btn-sm"> Add Product</a> {% endcomment %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            {% if order_obj %}
            {% for order_obj_item in order_obj.items.all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{order_obj_item.product.title}}</td>
                <td>{{order_obj_item.price}}</td>
                <td>{{order_obj_item.quantity}}</td>
                <td><img src="{{ order_obj_item.product.image.url }}" alt="{{ order_obj_item.product.title }}" class="rounded-image"></td>
                
            </tr>
            {% endfor %}
            {% else  %}
            <tr>
                <td colspan="5" class="text-center"><h4>Not Found</h4></td>
            </tr>
            {% endif %}
            
        </tbody>
    </table>
    <a href="{% url "order_view" %}" class="btn btn-secondary btn-sm">Go Back</a>
</div>
{% endblock%}