<!DOCTYPE html>
<html lang="zxx" class="no-js">
{% load static %}
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{% block title %} Ecommerce {% endblock %}</title>
	<!--
		CSS
		============================================= -->
        
	<link rel="stylesheet" href="{% static 'frontend/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href=" {% static 'frontend/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/css/owl.carousel.css' %}">
	<link rel="stylesheet" href=" {% static 'frontend/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'frontend/css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'frontend/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
	<style>
		.cart {
			position: relative;
		}
		
		/* Cart count badge style */
		.cart-count {
			position: absolute;
			top: -16px; /* Positioning the badge above the icon */
			right: -16px; /* Positioning it to the right of the icon */
			background-color: #f44336; /* Bright red background */
			color: white; /* White color for the number */
			font-size: 14px; /* Size of the number */
			font-weight: bold; /* Bold number */
			width: 20px; /* Fixed width for the circle */
			height: 20px; /* Fixed height for the circle */
			border-radius: 50%; /* Makes the badge circular */
			display: flex;
			align-items: center; /* Centers the text vertically */
			justify-content: center; /* Centers the text horizontally */
			padding: 0; /* No padding inside the circle */
			text-align: center; /* Ensures the number is centered */
			border: 2px solid #fff; /* Adds a white border around the circle */
		}
		
		/* Optional: Hover effect to change background color */
		.cart:hover .cart-count {
			background-color: #d32f2f; /* Darker red when hovered */
		}
	</style>
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item {% if request.path == '/' %} active{% endif %}"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{% if request.user.is_authenticated %}
							<li class="nav-item {% if request.path == '/view-cart' %} active {% endif %}"><a href="{% url 'view_cart' %}" class="cart"><span class="ti-bag">
								{% if cart_count > 0 %}
								<span class="cart-count">{{ cart_count }}</span>
								{% endif %}
							</a></li>
							{% endif %}
						</ul>
						<ul class="nav" style="margin-left: 31px;" >
							{% if request.user.is_authenticated %}
							<li class="nav-item {% if request.path == '/orders' %} active{% endif %}"><a class="nav-link" href="{% url 'user_orders' %}">Orders</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'frontend_logout' %}">Logout</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</div>
		{% comment %} <div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div> {% endcomment %}
	</header>
	<!-- End Header Area -->

	{% block contents %}

	{% endblock %}

	

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
							magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved to Ecommerce</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
    
	<script src="{% static 'frontend/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'frontend/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'frontend/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'frontend/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'frontend/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'frontend/js/nouislider.min.js' %}"></script>
	<script src="{% static 'frontend/js/countdown.js' %}"></script>
	<script src="{% static 'frontend/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>

	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'frontend/js/gmaps.min.js' %}"></script>
	<script src="{% static 'frontend/js/main.js' %}"></script>

    <!-- Include Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- Include Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% for message in messages %}
                // Determine the type of message based on tags
                var messageType = '{{ message.tags|default:"info" }}';

                // Display the message with Toastr
                toastr[messageType]('{{ message|escapejs }}');
            {% endfor %}
        });

        // Toastr configuration (optional)
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right", // Position of the toast
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    {% endif %}
</body>

</html>