
{% extends "frontend_index/index.html" %}
{% load custom_tags %}
{% block title %}Product Details{% endblock %}
{% load static %}
{% block contents %}
<style>
    .fa-star {
        color: #d3d3d3; /* Grey color for empty stars */
    }
    
    .fa-star.filled {
        color: #ffcc00; /* Gold color for filled stars */
    }
</style>
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{product_obj.image.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{product_obj.image.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{product_obj.image.url}}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <div class="s_product_text">
                        <h3>{{product_obj.title}}</h3>
                        <h2>₹ {{product_obj.price}}</h2>
                        <ul class="list">
                            <li><a href="#"><span>Color</span> : {{product_obj.color}}</a></li>
                            <li><a href="#"><span>Size</span> : {{product_obj.size}}</a></li>
                        </ul>
                        <p>{{product_obj.description}}</p>
                        <div class="product_count">
                            <label for="qty">Quantity:</label>
                            <input type="number" min="1" name="qty" id="sst" maxlength="{{product_obj.stock}}" value="1" title="Quantity:" class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <button type="submit" class="primary-btn">Add to Cart</button>
                        </div>
                    </div>
                    <input type="hidden" name="product_slug" value="{{product_obj.slug}}">
                </form>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                 aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            
            
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row total_rate">
                            <div class="col-12">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>{{overall_rating}}</h4>
                                    <h6>({{reviews_count}} Reviews)</h6>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="review_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-1.png" alt="">
                                    </div>
                                    {% for review in reviews_objs %}
                                    <div class="media-body">
                                        <h4>{{review.user.username}}</h4>
                                        {% for i in review.rating|to %}
                                            <i class="fa fa-star {% if i <= review.rating %}filled{% endif %}"></i>
                                        {% endfor %}
                                    </div>
                                </div>
                                <p>{{review.comment}}</p>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            
                            <form method="POST" action="{% url 'add_review' product_obj.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% comment %} <label for="rating">Rating:</label> {% endcomment %}
                                    {{ form.rating }}
                                </div>
                                <br><br>
                                <div class="form-group">
                                    {% comment %} <label for="comment">Comment:</label> {% endcomment %}
                                    {{ form.comment }}
                                </div>
                                <button type="submit" class="btn btn-primary">Submit Review</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}