{% extends "backend_index/index.html" %}

{% block title %}Add Product{% endblock %}

{% block content %}

<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Add Product</h4>
        </div>
        
    </div>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Title</label>
                    {{form.title}}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Description</label>
                    {{form.description}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Size</label>
                    {{form.size}}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Color</label>
                    {{form.color}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Price</label>
                    {{form.price}}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Stock</label>
                    {{form.stock}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Image</label>
                    {{form.image}}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label></label>
                    {{form.status.as_hidden}}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'product' %}" class="btn btn-light">Cancel</a>
    </form>
</div>

{% endblock %}